<footer>
	<p>&copy; 2021 Roku Inc, All rights reserved</p>
	<img src="../images/temp_avatar.png" class="aicon">
	<img src="../images/settings.png" class="sicon">
	<img src="../images/log.png" class="licon" @click="logout">
</footer>
